ModbusTCP_flow.json
[
    {
        "id": "4cd317597f623a02",
        "type": "tab",
        "label": "ModbusTCP-data-inject",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5dafbef0428f533e",
        "type": "modbus-read",
        "z": "4cd317597f623a02",
        "name": "FC 3: Read Holding Registers: 40000 ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40000",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6e927e807fc04b6b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "926e6ceed4a00fa3",
                "8bd9a3715d7c0ad4"
            ],
            [
                "add71d25d140a434"
            ]
        ]
    },
    {
        "id": "926e6ceed4a00fa3",
        "type": "debug",
        "z": "4cd317597f623a02",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "add71d25d140a434",
        "type": "debug",
        "z": "4cd317597f623a02",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "070c96ebd026e594",
        "type": "modbus-read",
        "z": "4cd317597f623a02",
        "name": "FC 3: Read Holding Registers: 40001",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40001",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6e927e807fc04b6b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "926e6ceed4a00fa3",
                "6f75f76aabef70d1"
            ],
            []
        ]
    },
    {
        "id": "15c00d84cb0cc3df",
        "type": "modbus-read",
        "z": "4cd317597f623a02",
        "name": "FC 3: Read Holding Registers: 40002",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40003",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6e927e807fc04b6b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "926e6ceed4a00fa3",
                "5dad764bb3f5a70a"
            ],
            []
        ]
    },
    {
        "id": "f014c6ed7966ce7d",
        "type": "modbus-read",
        "z": "4cd317597f623a02",
        "name": "FC 3: Read Holding Registers: 40003",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40003",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6e927e807fc04b6b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "926e6ceed4a00fa3",
                "4ed1484c42a34ede"
            ],
            []
        ]
    },
    {
        "id": "bc109c964f90c523",
        "type": "modbus-read",
        "z": "4cd317597f623a02",
        "name": "FC 3: Read Holding Registers: 40004",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40004",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6e927e807fc04b6b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "926e6ceed4a00fa3",
                "e8faaffa85b9137a"
            ],
            []
        ]
    },
    {
        "id": "a524b4e7d8efef10",
        "type": "modbus-read",
        "z": "4cd317597f623a02",
        "name": "FC 3: Read Holding Registers: 40005",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40005",
        "quantity": "1",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6e927e807fc04b6b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "926e6ceed4a00fa3",
                "c97d01f7256b5f42"
            ],
            []
        ]
    },
    {
        "id": "8bd9a3715d7c0ad4",
        "type": "ui_gauge",
        "z": "4cd317597f623a02",
        "name": "PT-100 (Valor simulado: 1)",
        "group": "b6930dcf16b16f6d",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Holding-Registers: 40000",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "70",
        "className": "",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f75f76aabef70d1",
        "type": "ui_gauge",
        "z": "4cd317597f623a02",
        "name": "PT-100 (Valor simulado: 2)",
        "group": "b6930dcf16b16f6d",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Holding-Registers: 40001",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "70",
        "className": "",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "5dad764bb3f5a70a",
        "type": "ui_gauge",
        "z": "4cd317597f623a02",
        "name": "PT-100 (Valor simulado: 3)",
        "group": "b6930dcf16b16f6d",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Holding-Registers: 40002",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "70",
        "className": "",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ed1484c42a34ede",
        "type": "ui_gauge",
        "z": "4cd317597f623a02",
        "name": "PT-100 (Valor simulado: 4)",
        "group": "b6930dcf16b16f6d",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Holding-Registers: 40003",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "70",
        "className": "",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "e8faaffa85b9137a",
        "type": "ui_gauge",
        "z": "4cd317597f623a02",
        "name": "PT-100 (Valor simulado: 5)",
        "group": "b6930dcf16b16f6d",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Holding-Registers: 40004",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "70",
        "className": "",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "c97d01f7256b5f42",
        "type": "ui_gauge",
        "z": "4cd317597f623a02",
        "name": "PT-100 (Valor simulado: 6) ",
        "group": "b6930dcf16b16f6d",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Holding-Registers: 40005",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "70",
        "className": "",
        "x": 820,
        "y": 720,
        "wires": []
    },
    {
        "id": "6e927e807fc04b6b",
        "type": "modbus-client",
        "name": "ModbusTCP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.1.1",
        "tcpPort": "1502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "b6930dcf16b16f6d",
        "type": "ui_group",
        "name": "FC 3 - Read Holding Registers (40000 - 40005)",
        "tab": "c05cc337e51f2f70",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": "align-content: center"
    },
    {
        "id": "c05cc337e51f2f70",
        "type": "ui_tab",
        "name": "Modbus-TCP - Lectura de Holding Registers",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]